:root {

    /* Colors */
    --slate-900: #1F314F;
    --slate-500: #68778D;
    --slate-300: #D5E1EF;
    --white: rgb(255, 255, 255);

    /* Font */

    --outfit: "Outfit", sans-serif;

    /* Spacing */

    --spacing-500: 40px;
    --spacing-300: 24px;
    --spacing-200: 16px;

}

.text-preset-1 {
    font-family: var(--outfit);
    font-size: 22px;
    font-weight: bold;
    line-height: 1.2;
    letter-spacing: 0px;
}

.text-preset-2 {
    font-family: var(--outfit);
    font-size: 15px;
    line-height: 1.4;
    letter-spacing: 0.2px;
}


html, body {
  background-color: var(--slate-300);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
    background-color: var(--white);
    padding: var(--spacing-200) var(--spacing-200) var(--spacing-300) var(--spacing-200);
    width: 320px;
    height: 499px;
    border-radius: 20px;

    .qr-code img{
        display: flex;
        justify-content: center;
        margin-bottom: var(--spacing-300);
        width: 100%;
        border-radius: 20px;

    }

    .contents {
        padding:  0 var(--spacing-200);
    }

    .contents h2 {
        color: var(--slate-900);
        
        text-align: center;
        color: #000;

   
        
      
    }

    .contents p {
        color: var(--slate-500);
        text-align: center;
        padding: var(--spacing-200);
    
       
    }

}

  
   

























.attribution { font-size: 11px; text-align: center; display: none;}
.attribution a { color: hsl(228, 45%, 44%); display: none; }